<div class="container">

    <table class="table table-striped mt-5">

        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Cell No</th>
                <th>Fee</th>

                <div *ngIf="loggedUser.role === 'Admin' || loggedUser.role === 'Teacher'">

                    <th>Action</th>

                </div>


            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let s of students">

                <td>{{s.id}}</td>
                <td>{{s.name}}</td>
                <td>{{s.email}}</td>
                <td>{{s.cellNo}}</td>
                <td>{{s.fee}}</td>

                <div *ngIf="loggedUser.role === 'Admin' || loggedUser.role === 'Teacher' ">

                    <td>
                        <button class="btn btn-danger mx-3" (click)="remove(s.id!)">Delete</button>
                        <button class="btn btn-warning mx-3" [routerLink]="['edit/', s.id]">Edit</button>

                    </td>

                </div>





            </tr>

        </tbody>

    </table>
</div>